<a href="https://cognitiveclass.ai/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0101ENCoursera23911160-2022-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0101EN-Coursera/v2/M1_R_Basics/images/IDSNlogo.png" width="200" align="center">
</a>

<h1>Analysis of Global COVID-19 Pandemic Data</h1>

Estimated time needed: **90** minutes

## Overview:

There are 10 tasks in this final project. All tasks will be graded by your peers who are also completing this assignment within the same session.

You need to submit the following the screenshot for the code and output for each task for review.

If you need to refresh your memories about specific coding details, you may refer to previous hands-on labs for code examples.

In [3]:
require("httr")
require("rvest")

library(httr)
library(rvest)

Loading required package: httr
Loading required package: rvest
Loading required package: xml2

Note: if you can import above libraries, please use install.packages() to install them first.

## TASK 1: Get a `COVID-19 pandemic` Wiki page using HTTP request

First, let's write a function to use HTTP request to get a public COVID-19 Wiki page.

Before you write the function, you can open this public page from this

URL [https://en.wikipedia.org/w/index.php?title=Template\:COVID-19\_testing_by_country](https://en.wikipedia.org/w/index.php?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0101ENCoursera23911160-2022-01-01&title=Template%3ACOVID-19\_testing_by_country) using a web browser.

The goal of task 1 is to get the html page using HTTP request (`httr` library)

In [14]:

get_wiki_covid19_page <- function() {
    
  # Our target COVID-19 wiki page URL is: https://en.wikipedia.org/w/index.php?title=Template:COVID-19_testing_by_country  
  # Which has two parts: 
    # 1) base URL `https://en.wikipedia.org/w/index.php  
    # 2) URL parameter: `title=Template:COVID-19_testing_by_country`, seperated by question mark ?
    
  # Wiki page base
  wiki_base_url <- "https://en.wikipedia.org/w/index.php"
  # You will need to create a List which has an element called `title` to specify which page you want to get from Wiki
  # in our case, it will be `Template:COVID-19_testing_by_country`
 
  # - Use the `GET` function in httr library with a `url` argument and a `query` arugment to get a HTTP response
    
  # Use the `return` function to return the response
      query_params <- list(title= 'Template:COVID-19_testing_by_country')
        response <- GET(wiki_base_url, query= query_params)
        return(response)
}

Call the `get_wiki_covid19_page` function to get a http response with the target html page

In [15]:
# Call the get_wiki_covid19_page function and print the response
response = get_wiki_covid19_page()
response

Response [https://en.wikipedia.org/w/index.php?title=Template%3ACOVID-19_testing_by_country]
  Date: 2022-07-17 01:08
  Status: 200
  Content-Type: text/html; charset=UTF-8
  Size: 414 kB
<!DOCTYPE html>
<html class="client-nojs" lang="en" dir="ltr">
<head>
<meta charset="UTF-8"/>
<title>Template:COVID-19 testing by country - Wikipedia</title>
<script>document.documentElement.className="client-js";RLCONF={"wgBreakFrames...
"CS1 German-language sources (de)","CS1 Azerbaijani-language sources (az)","C...
"CS1 uses Japanese-language script (ja)","CS1 Japanese-language sources (ja)"...
"COVID-19 pandemic templates"],"wgPageContentLanguage":"en","wgPageContentMod...
true,"wgGETopicsMatchModeEnabled":false,"wgGEStructuredTaskRejectionReasonTex...
...

## TASK 2: Extract COVID-19 testing data table from the wiki HTML page

On the COVID-19 testing wiki page, you should see a data table `<table>` node contains COVID-19 testing data by country on the page:

<a href="https://cognitiveclass.ai/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0101ENCoursera23911160-2022-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0101EN-Coursera/v2/M5_Final/images/covid-19-by-country.png" width="400" align="center">
</a>

Note the numbers you actually see on your page may be different from above because it is still an on-going pandemic when creating this notebook.

The goal of task 2 is to extract above data table and convert it into a data frame

Now use the `read_html` function in rvest library to get the root html node from response

In [16]:
# Get the root html node from the http response in task 1 
root_node <- read_html(response)
root_node

{html_document}
<html class="client-nojs" lang="en" dir="ltr">
[1] <head>\n<meta http-equiv="Content-Type" content="text/html; charset=UTF-8 ...
[2] <body class="mediawiki ltr sitedir-ltr mw-hide-empty-elt ns-10 ns-subject ...

Get the first table in the HTML root node using `html_node` function

In [17]:
# Get the table node from the root html node
table_node <- html_node(root_node, "table")
table_node

{html_node}
<table class="wikitable plainrowheaders sortable collapsible autocollapse">
[1] <caption>\n<style data-mw-deduplicate="TemplateStyles:r1063604349">.mw-pa ...
[2] <tbody>\n<tr>\n<th>Country or region\n</th>\n<th>Date<sup id="cite_ref-1" ...

Read the table node as a data frame using `html_table` function

In [22]:
# Read the table node and convert it into a data frame, and print the data frame for review
data_frame <-html_table(table_node)
head(data_frame)

  Country or region   Date[a]     Tested  Units[b] Confirmed(cases)
1 Afghanistan         17 Dec 2020 154,767 samples  49,621
2 Albania             18 Feb 2021 428,654 samples  96,838
3 Algeria             2 Nov 2020  230,553 samples  58,574
4 Andorra             23 Feb 2022 300,307 samples  37,958
5 Angola              2 Feb 2021  399,228 samples  20,981
6 Antigua and Barbuda 6 Mar 2021  15,268  samples  832
  Confirmed /tested,% Tested /population,% Confirmed /population,% Ref.
1 32.1                0.40                 0.13                    [1]
2 22.6                15.0                 3.4                     [2]
3 25.4                0.53                 0.13                    [3][4]
4 12.6                387                  49.0                    [5]
5 5.3                 1.3                  0.067                   [6]
6 5.4                 15.9                 0.86                    [7]

## TASK 3: Pre-process and export the extracted data frame

The goal of task 3 is to pre-process the extracted data frame from the previous step, and export it as a csv file

Let's get a summary of the data frame

In [20]:
# Print the summary of the data frame
summary(data_frame)

 Country or region    Date[a]             Tested            Units[b]
 Length:173         Length:173         Length:173         Length:173
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character
 Confirmed(cases)   Confirmed /tested,% Tested /population,%
 Length:173         Length:173          Length:173
 Class :character   Class :character    Class :character
 Mode  :character   Mode  :character    Mode  :character
 Confirmed /population,%     Ref.
 Length:173              Length:173
 Class :character        Class :character
 Mode  :character        Mode  :character

As you can see from the summary, the columns names are little bit different to understand and some column data types are not correct. For example, the `Tested` column shows as `character`.

As such, the data frame read from HTML table will need some pre-processing such as removing irrelvant columns, renaming columns, and convert columns into proper data types.

We have prepared a pre-processing function for you to conver the data frame but you can also try to write one by yourself

In [23]:
preprocess_covid_data_frame <- function(data_frame) {
    
    shape <- dim(data_frame)

    # Remove the World row
    data_frame<-data_frame[!(data_frame$`Country or region`=="World"),]
    # Remove the last row
    data_frame <- data_frame[1:172, ]
    
    # We dont need the Units and Ref columns, so can be removed
    data_frame["Ref."] <- NULL
    data_frame["Units[b]"] <- NULL
    
    # Renaming the columns
    names(data_frame) <- c("country", "date", "tested", "confirmed", "confirmed.tested.ratio", "tested.population.ratio", "confirmed.population.ratio")
    
    # Convert column data types
    data_frame$country <- as.factor(data_frame$country)
    data_frame$date <- as.factor(data_frame$date)
    data_frame$tested <- as.numeric(gsub(",","",data_frame$tested))
    data_frame$confirmed <- as.numeric(gsub(",","",data_frame$confirmed))
    data_frame$'confirmed.tested.ratio' <- as.numeric(gsub(",","",data_frame$`confirmed.tested.ratio`))
    data_frame$'tested.population.ratio' <- as.numeric(gsub(",","",data_frame$`tested.population.ratio`))
    data_frame$'confirmed.population.ratio' <- as.numeric(gsub(",","",data_frame$`confirmed.population.ratio`))
    
    return(data_frame)
}

Call the `preprocess_covid_data_frame` function

In [24]:
# call `preprocess_covid_data_frame` function and assign it to a new data frame
covid_new <- preprocess_covid_data_frame(data_frame)
covid_new

    country                date        tested    confirmed
1   Afghanistan            17 Dec 2020    154767    49621
2   Albania                18 Feb 2021    428654    96838
3   Algeria                2 Nov 2020     230553    58574
4   Andorra                23 Feb 2022    300307    37958
5   Angola                 2 Feb 2021     399228    20981
6   Antigua and Barbuda    6 Mar 2021      15268      832
7   Argentina              16 Apr 2022  35716069  9060495
8   Armenia                29 May 2022   3099602   422963
9   Australia              15 Jul 2022  74999209  8687125
10  Austria                15 Jul 2022 191905533  4632173
11  Azerbaijan             11 May 2022   6838458   792638
12  Bahamas                11 Jul 2022    243530    36299
13  Bahrain                12 Jul 2022  10086686   641978
14  Bangladesh             24 Jul 2021   7417714  1151644
15  Barbados               12 Jul 2022    713255    86691
16  Belarus                9 May 2022   13217569   982809
17  Belgium                14 Jul 2022  34784155  4349050
18  Belize                 8 Jun 2022     572900    60694
19  Benin                  4 May 2021     595112     7884
20  Bhutan                 28 Feb 2022   1736168    12702
21  Bolivia                5 Jun 2022    4358669   910228
22  Bosnia and Herzegovina 13 Jul 2022   1799158   380211
23  Botswana               11 Jan 2022   2026898   232432
24  Brazil                 19 Feb 2021  23561497 10081676
25  Brunei                 2 Aug 2021     153804      338
26  Bulgaria               15 Jul 2022  10173151  1183877
27  Burkina Faso           4 Mar 2021     158777    12123
28  Burundi                5 Jan 2021      90019      884
29  Cambodia               1 Aug 2021    1812706    77914
30  Cameroon               18 Feb 2021    942685    32681
⋮   ⋮                      ⋮           ⋮         ⋮
143 Serbia                 15 Jul 2022  10026607  2052116
144 Singapore              3 Aug 2021   16206203    65315
145 Slovakia               14 Jul 2022   7197069  1804534
146 Slovenia               14 Jul 2022   2692619  1057818
147 South Africa           24 May 2021  11378282  1637848
148 South Korea            1 Mar 2021    6592010    90029
149 South Sudan            26 May 2021    164472    10688
150 Spain                  1 Jul 2021   54128524  3821305
151 Sri Lanka              30 Mar 2021   2384745    93128
152 Sudan                  7 Jan 2021     158804    23316
153 Sweden                 24 May 2021   9996795  1074751
154 Switzerland[l]         5 Jul 2022   21954619  3805763
155 Taiwan[m]              11 Jul 2022  21732557  4101156
156 Tanzania               18 Nov 2020      3880      509
157 Thailand               4 Mar 2021    1579597    26162
158 Togo                   15 Jul 2022    761320    37776
159 Trinidad and Tobago    3 Jan 2022     512730    92997
160 Tunisia                23 Aug 2021   2893625   703732
161 Turkey                 2 Jul 2021   61236294  5435831
162 Uganda                 11 Feb 2021    852444    39979
163 Ukraine                24 Nov 2021  15648456  3367461
164 United Arab Emirates   15 Jul 2022 173570214   970586
165 United Kingdom         19 May 2022 522526476 22232377
166 United States          8 Jul 2022  916128298 88056795
167 Uruguay                16 Apr 2022   6089116   895592
168 Uzbekistan             7 Sep 2020    2630000    43975
169 Venezuela              30 Mar 2021   3179074   159149
170 Vietnam                19 Jun 2022  45253655 10737646
171 Zambia                 10 Mar 2022   3301860   314850
172 Zimbabwe               14 Jul 2022   2424666   256083
    confirmed.tested.ratio tested.population.ratio confirmed.population.ratio
1   32.10                     0.40                  0.1300
2   22.60                    15.00                  3.4000
3   25.40                     0.53                  0.1300
4   12.60                   387.00                 49.0000
5    5.30                     1.30                  0.0670
6    5.40                    15.90                  0.8600
7   25.40                    78.30                 20.0000
8   13.60                   105.00                 14.3000
9   11.60                   299.00                 34.6000
10   2.40                  2156.00                 52.0000
11  11.60                    69.10                  8.0000
12  14.90                    63.20                  9.4000
13   6.40                   643.00                 40.9000
14  15.50                     4.50                  0.7000
15  12.20                   248.00                 30.2000
16   7.40                   139.00                 10.4000
17  12.50                   302.00                 37.8000
18  10.60                   140.00                 14.9000
19   1.30                     5.10                  0.0670
20   0.73                   234.00                  1.7100
21  20.90                    38.10                  8.0000
22  21.10                    52.60                 11.1000
23  11.50                    89.90                 10.3000
24  42.80                    11.20                  4.8000
25   0.22                    33.50                  0.0740
26  11.60                   146.00                 17.0000
27   7.60                     0.76                  0.0580
28   0.98                     0.76                  0.0074
29   4.30                    11.20                  0.4800
30   3.50                     3.60                  0.1200
⋮   ⋮                      ⋮                       ⋮
143 20.50                   144.0000               29.50000
144  0.40                   284.0000                1.10000
145 25.10                   132.0000               33.10000
146 39.30                   129.0000               50.50000
147 14.40                    19.2000                2.80000
148  1.40                    12.7000                0.17000
149  6.50                     1.3000                0.08400
150  7.10                   116.0000                8.20000
151  3.90                    10.9000                0.43000
152 14.70                     0.3600                0.05300
153 10.80                    96.8000               10.40000
154 17.30                   255.0000               44.20000
155 18.87                    92.1000               17.37500
156 13.10                     0.0065                0.00085
157  1.70                     2.3000                0.03800
158  5.00                     8.8000                0.44000
159 18.10                    37.6000                6.80000
160 24.30                    24.5000                6.00000
161  8.90                    73.6000                6.50000
162  4.70                     1.9000                0.08700
163 21.50                    37.2000                8.00000
164  0.56                  1808.0000               10.10000
165  4.30                   774.0000               32.90000
166  9.60                   277.0000               26.60000
167 14.70                   175.0000               25.80000
168  1.70                     7.7000                0.13000
169  5.00                    11.0000                0.55000
170 23.70                    45.8000               10.90000
171  9.50                    19.0000                1.80000
172 10.60                    16.3000                1.70000

Get the summary of the processed data frame again

In [25]:
# Print the summary of the processed data frame again
summary(covid_new)

                country             date         tested
 Afghanistan        :  1   14 Jul 2022: 12   Min.   :     3880
 Albania            :  1   12 Jul 2022:  9   1st Qu.:   512037
 Algeria            :  1   15 Jul 2022:  7   Median :  3029859
 Andorra            :  1   13 Jul 2022:  5   Mean   : 30434199
 Angola             :  1   11 Jul 2022:  4   3rd Qu.: 11797975
 Antigua and Barbuda:  1   1 Mar 2021 :  3   Max.   :916128298
 (Other)            :166   (Other)    :132
   confirmed        confirmed.tested.ratio tested.population.ratio
 Min.   :       0   Min.   : 0.00          Min.   :   0.0065
 1st Qu.:   37484   1st Qu.: 5.00          1st Qu.:   9.3250
 Median :  281196   Median :10.00          Median :  46.4000
 Mean   : 2361836   Mean   :11.04          Mean   : 167.5147
 3rd Qu.: 1170078   3rd Qu.:15.18          3rd Qu.: 144.5000
 Max.   :88056795   Max.   :42.80          Max.   :2976.0000

 confirmed.population.ratio
 Min.   : 0.000
 1st Qu.: 0.425
 Median : 6.000
 Mean   :11.704
 3rd Qu.:15.600
 Max.   :65.700

After pre-processing, you can see the columns and columns names are simplified, and columns types are converted into correct types.

The data frame has following columns:

*   **country** - The name of the country
*   **date** - Reported date
*   **tested** - Total tested cases by the reported date
*   **confirmed** - Total confirmed cases by the reported date
*   **confirmed.tested.ratio** - The ratio of confirmed cases to the tested cases
*   **tested.population.ratio** - The ratio of tested cases to the population of the country
*   **confirmed.population.ratio** - The ratio of confirmed cases to the population of the country

OK, we can call `write.csv()` function to save the csv file into a file.

In [32]:
# Export the data frame to a csv file
write.csv(covid_new, file ="/resources/v2/M5_Final/covid.csv", row.names = FALSE )

Note for IBM Waston Studio, there is no traditional "hard disk" associated with a R workspace.

Even if you call `write.csv()` method to save the data frame as a csv file, it won't be shown in IBM Cloud Object Storage asset UI automatically.

However, you may still check if the `covid.csv` exists using following code snippet:

In [33]:
# Get working directory
wd <- getwd()
# Get exported 
file_path <- paste(wd, sep="", "/covid.csv")
# File path
print(file_path)
file.exists(file_path)

[1] "/resources/v2/M5_Final/covid.csv"

[1] TRUE

**Optional Step**: If you have difficulties finishing above webscraping tasks, you may still continue with next tasks by downloading a provided csv file from here:

In [31]:
## Download a sample csv file
# covid_csv_file <- download.file("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0101EN-Coursera/v2/dataset/covid.csv", destfile="covid.csv")
# covid_data_frame_csv <- read.csv("covid.csv", header=TRUE, sep=",")

## TASK 4: Get a subset of the extracted data frame

The goal of task 4 is to get the 5th to 10th rows from the data frame with only `country` and `confirmed` columns selected

In [35]:
# Read covid_data_frame_csv from the csv file
covid_data_frame_csv <- read.csv('covid.csv')
# Get the 5th to 10th rows, with two "country" "confirmed" columns
covid_data_frame_csv[c(5,10),c(1,4)]

   country confirmed
5  Angola    20981
10 Austria 4632173

## TASK 5: Calculate worldwide COVID testing positive ratio

The goal of task 5 is to get the total confirmed and tested cases worldwide, and try to figure the overall positive ratio using `confirmed cases / tested cases`

In [37]:
# Get the total confirmed cases worldwide
total_confirmed_cases <- sum(covid_data_frame_csv['confirmed'])
# Get the total tested cases worldwide
total_tested_cases <- sum(covid_data_frame_csv['tested'])
# Get the positive ratio (confirmed / tested)
positive_ratio <- total_confirmed_cases/total_tested_cases
positive_ratio

[1] 0.07760468

## TASK 6: Get a country list which reported their testing data

The goal of task 6 is to get a catalog or sorted list of countries who have reported their COVID-19 testing data

In [39]:
# Get the `country` column
country <- covid_data_frame_csv['country']
# Check its class (should be Factor)
class(covid_data_frame_csv$country)
# Conver the country column into character so that you can easily sort them
country_ <- as.character(covid_data_frame_csv$country)
# Sort the countries AtoZ
sortA <- sort(country_)
# Sort the countries ZtoA
sortB <- sort(country_, decreasing = TRUE)
# Print the sorted ZtoA list
print(sortB)

[1] "factor"

  [1] "Zimbabwe"               "Zambia"                 "Vietnam"
  [4] "Venezuela"              "Uzbekistan"             "Uruguay"
  [7] "United States"          "United Kingdom"         "United Arab Emirates"
 [10] "Ukraine"                "Uganda"                 "Turkey"
 [13] "Tunisia"                "Trinidad and Tobago"    "Togo"
 [16] "Thailand"               "Tanzania"               "Taiwan[m]"
 [19] "Switzerland[l]"         "Sweden"                 "Sudan"
 [22] "Sri Lanka"              "Spain"                  "South Sudan"
 [25] "South Korea"            "South Africa"           "Slovenia"
 [28] "Slovakia"               "Singapore"              "Serbia"
 [31] "Senegal"                "Saudi Arabia"           "San Marino"
 [34] "Saint Vincent"          "Saint Lucia"            "Saint Kitts and Nevis"
 [37] "Rwanda"                 "Russia"                 "Romania"
 [40] "Qatar"                  "Portugal"               "Poland"
 [43] "Philippines"            "Peru"                   "Paraguay"
 [46] "Papua New Guinea"       "Panama"                 "Palestine"
 [49] "Pakistan"               "Oman"                   "Norway"
 [52] "Northern Cyprus[k]"     "North Macedonia"        "North Korea"
 [55] "Nigeria"                "Niger"                  "New Zealand"
 [58] "New Caledonia"          "Netherlands"            "Nepal"
 [61] "Namibia"                "Myanmar"                "Mozambique"
 [64] "Morocco"                "Montenegro"             "Mongolia"
 [67] "Moldova[j]"             "Mexico"                 "Mauritius"
 [70] "Mauritania"             "Malta"                  "Mali"
 [73] "Maldives"               "Malaysia"               "Malawi"
 [76] "Madagascar"             "Luxembourg[i]"          "Lithuania"
 [79] "Libya"                  "Liberia"                "Lesotho"
 [82] "Lebanon"                "Latvia"                 "Laos"
 [85] "Kyrgyzstan"             "Kuwait"                 "Kosovo"
 [88] "Kenya"                  "Kazakhstan"             "Jordan"
 [91] "Japan"                  "Jamaica"                "Ivory Coast"
 [94] "Italy"                  "Israel"                 "Ireland"
 [97] "Iraq"                   "Iran"                   "Indonesia"
[100] "India"                  "Iceland"                "Hungary"
[103] "Honduras"               "Haiti"                  "Guyana"
[106] "Guinea-Bissau"          "Guinea"                 "Guatemala"
[109] "Grenada"                "Greenland"              "Greece"
[112] "Ghana"                  "Germany"                "Georgia[h]"
[115] "Gambia"                 "Gabon"                  "France[f][g]"
[118] "Finland"                "Fiji"                   "Faroe Islands"
[121] "Ethiopia"               "Eswatini"               "Estonia"
[124] "Equatorial Guinea"      "El Salvador"            "Egypt"
[127] "Ecuador"                "DR Congo"               "Dominican Republic"
[130] "Dominica"               "Djibouti"               "Denmark[e]"
[133] "Czechia"                "Cyprus[d]"              "Cuba"
[136] "Croatia"                "Costa Rica"             "Colombia"
[139] "China[c]"               "Chile"                  "Chad"
[142] "Canada"                 "Cameroon"               "Cambodia"
[145] "Burundi"                "Burkina Faso"           "Bulgaria"
[148] "Brunei"                 "Brazil"                 "Botswana"
[151] "Bosnia and Herzegovina" "Bolivia"                "Bhutan"
[154] "Benin"                  "Belize"                 "Belgium"
[157] "Belarus"                "Barbados"               "Bangladesh"
[160] "Bahrain"                "Bahamas"                "Azerbaijan"
[163] "Austria"                "Australia"              "Armenia"
[166] "Argentina"              "Antigua and Barbuda"    "Angola"
[169] "Andorra"                "Algeria"                "Albania"
[172] "Afghanistan"

## TASK 7: Identify countries names with a specific pattern

The goal of task 7 is using a regular expression to find any countires start with `United`

In [40]:
# Use a regular expression `United.+` to find matches
matches <- regexpr('United.+', covid_data_frame_csv[,'country'])
# Print the matched country names
print(regmatches(covid_data_frame_csv[,'country'], matches))

[1] "United Arab Emirates" "United Kingdom"       "United States"

## TASK 8: Pick two countries you are interested, and then review their testing data

The goal of task 8 is to compare the COVID-19 test data between two countires, you will need to select two rows from the dataframe, and select `country`, `confirmed`, `confirmed-population-ratio` columns

In [42]:
# Select a subset (should be only one row) of data frame based on a selected country name and columns
bahrain <- covid_data_frame_csv[covid_data_frame_csv['country']== 'Bahrain', c(1,4,7)]
bahrain
# Select a subset (should be only one row) of data frame based on a selected country name and columns
chile <- covid_data_frame_csv[covid_data_frame_csv['country']== 'Chile', c(1,4,7)]
chile

   country confirmed confirmed.population.ratio
13 Bahrain 641978    40.9

   country confirmed confirmed.population.ratio
33 Chile   4122401   21.6

## TASK 9: Compare which one of the selected countries has a larger ratio of confirmed cases to population

The goal of task 9 is to find out which country you have selected before has larger ratio of confirmed cases to population, which may indicate that country has higher COVID-19 infection risk

In [43]:
# Use if-else statement
# if (check which confirmed.population value is greater) {
#    print()
# } else {
#    print()
# }
if(bahrain$confirmed.population.ratio > chile$confirmed.population.ratio){
  print('bahrain')
} else {
  print('chile')
}

[1] "bahrain"

## TASK 10: Find countries with confirmed to population ratio rate less than a threshold

The goal of task 10 is to find out which countries have the confirmed to population ratio less than 1%, it may indicate the risk of those countries are relatively low

In [44]:
# Get a subset of any countries with `confirmed.population.ratio` less than the threshold
subset(covid_data_frame_csv, covid_data_frame_csv['confirmed.population.ratio'] < 1, country)

    country
1   Afghanistan
3   Algeria
5   Angola
6   Antigua and Barbuda
14  Bangladesh
19  Benin
25  Brunei
27  Burkina Faso
28  Burundi
29  Cambodia
30  Cameroon
32  Chad
34  China[c]
45  DR Congo
47  Egypt
52  Ethiopia
57  Gabon
58  Gambia
61  Ghana
64  Grenada
66  Guinea
67  Guinea-Bissau
69  Haiti
80  Ivory Coast
82  Japan
85  Kenya
89  Laos
93  Liberia
97  Madagascar
98  Malawi
101 Mali
103 Mauritania
104 Mauritius
110 Mozambique
111 Myanmar
115 New Caledonia
117 Niger
118 Nigeria
119 North Korea
124 Pakistan
127 Papua New Guinea
136 Rwanda
142 Senegal
148 South Korea
149 South Sudan
151 Sri Lanka
152 Sudan
156 Tanzania
157 Thailand
158 Togo
162 Uganda
168 Uzbekistan
169 Venezuela